@CHARSET "ISO-8859-1";

body {
/*	background-color : black ;	
	background-image : url("../images/job_search.png"); 
	background-image : url("../images/viewJob_3.jpg") ; */
	background-image : url("../images/jobsearch.jpg") ;
    background-size : 2000px ;
 /*   background-position : 60px 0 ;*/
    
}