<html>

<body>

	<div class="container">

		<div class="row">
			<div class="col-lg-12">


				<h1 class="page-header" style="color: #FFA500; margin-left: 1px">About
					Us</h1>

				<p>
					<!-- <h3 style = "color : ">	-->
				<h3 class="text-info">
					Hello guests - Welcome to Stuforex - an online meetup forum
					<!-- #4863A0 -->
					..
				</h3>
				<!-- 	</a>	-->
				</p>


				<h4 class="">
					<!-- #48D1CC ,#6F4E37 , E77471 -->
					<p style="color: #E3E4FA; margin: 20px">
						Stuforex creates an ecosystem for professionals and students all
						over the world . It gives a platform to connect , discuss and
						present ideas . <br> Join now to become a part of global
						family comprising of people from different discipline , education
						, culture , backgrounds and work experience .
					</p>
				</h4>

				<!-- 	</a>	-->


				<h3 class="text-info" align="left">
					<span style="color:"> <i> For any marketing / business
							queries , please feel free to contact us on : </i>
					</span>
				</h3>
				<!-- 	</a>	-->


				<!-- 	<h4 class = "text-info">	-->
				<span style="color: #E3E4FA"> <b>Email Id. :
						businessImpact@stuforex.com </b>
					</h4> <!-- 	</a>	-->
				</span>
			</div>

		</div>
	</div>

</body>

</html>