
<!-- <h1><b><span style = "color:red">{{error.message}}</span></b></h1>	-->

<br />
<br />

<div class="container">
	<!-- Start of container class -->


	<div class="row">
		<!-- Start of first row class -->

		<div class="col-md-offset-2 col-md-8">
			<!-- Start of col-md-6 class -->

			<div class="panel panel-primary">
				<!-- Start of panel-primary class -->

				<div class="panel-heading">
					<!-- Start of panel-heading class -->

					<h3>Write Blog</h3>

				</div>
				<!-- End of panel-heading class -->

				<div class="panel-body">
					<!-- Start of panel body class -->

					<!-- Start of form class -->
					<form class="form-horizontal">

						<!-- For Blog Title : -->
						<div class="form-group">
							<!-- Start of first form-group -->

							<br /> <label for="blogTitle" class="col-md-3 control-label">
								Blog Title&nbsp;&nbsp; : </label>

							<div class="col-md-8">
								<!-- Start of col-md-8 class -->

								<input type="text" ng-model="blogPost.blogTitle"
									class="form-control" required />

							</div>
							<!-- End of col-md-8 class -->

						</div>
						<!-- End of first form-group -->

						<!-- End of Blog Title part -->




						<!-- For blog Description : -->
						<div class="form-group">
							<!-- Start of first form-group -->

							<br /> <label for="blogDescription"
								class="col-md-3 control-label"> Blog
								Description&nbsp;&nbsp; : </label>

							<div class="col-md-8">
								<!-- Start of col-md-8 class -->

								<textarea rows="5" ng-model="blogPost.blogDescription"
									class="form-control" required></textarea>

							</div>
							<!-- End of col-md-8 class -->

						</div>
						<!-- End of first form-group -->

						<!-- End of blog Description part -->




						<!-- For Register button : -->
						<div class="form-group">
							<!-- Start of second form-group class -->

							<br />

							<div class="col-md-offset-4 col-md-4">
								<!-- Start of col-md-8 class -->

								<input type="submit" ng-click="addBlogPost()"
									value="submit Blog Details" class="btn btn-primary" />

							</div>
							<!-- End of col-md-8 class -->

						</div>
						<!-- End of second form-group class -->

						<!-- End of Register button -->

					</form>
					<!-- End of form-class -->

				</div>
				<!-- End of panel body class -->

			</div>
			<!-- End of panel-primary class -->

		</div>
		<!-- End of col-md-6 class -->

	</div>
	<!-- End of first row class -->

</div>
<!-- End of container class -->



<!--  email pattern : pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" 
number pattern : maxlength="10"  pattern="[0-9]{10}"
-->