<div class="container">
	<!-- Start of container class -->

	<div class="row-fluid">
		<!-- Start of row-fluid class -->


		<h1 class="page-header" style = "color : #FFA500 ; margin-left : 80 px">Stuforex - Reach Us </h1>

		<div class="span8">
			<!-- Start of span8 class -->

			<br />


			<iframe width="100%" height="350" frameborder="0" scrolling="no"
				marginheight="0" marginwidth="0"
				src="https://www.google.com/maps/embed/v1/place?q=mount%20basicilla%20church%20mumbai%20%2C%20india&key=AIzaSyBd9-oCR67ACI6i3g8oUR4p09JN__UzERg"></iframe>


		</div>
		<!-- End of span8 class -->

		<div class="span4">
			<!-- Start of span4 class -->

			<div class="row">
				<!-- Start of row class -->


				<div class="col-md-7">
					<!-- start of col-md-7 class -->
					<h2 class = "text-success">Registered Office Address :</h2>

					<br />

					<address>

					<!-- 	<strong class = "text-muted">	--> 
					<strong style = "color : CD7F32"><h3>Stuforex - Online social networking site
								!</h3></strong> <br /> <br />
						<h4>
							<b style = "color : teal">15 Springfield Way , Kane Road , <br> Near Mount Mary
								Basilica Church , <br>Bandra west , Mumbai , <br>
								Maharashtra , India - 400050 .
							</b>
						</h4>
						<br> <br /> <h4 class = "text-info"><b><i>Email Id. : queries@stuforex.com </i></b>
						<br /> <br /> <b><i>Contact No. : +91-1234567890 </i></b></h4>


					</address>
				</div>
				<!-- End of col-md-7 class -->


				<div class="col-md-5">
					<!-- Start of col-md-5 class -->

					<h2 class = "text-success">Working hours :</h2>
					<br /> <br />

					<h4 class = "text-info">
						<b>Sunday to Thursday : 09:00 am to 06:00 pm</b>
					</h4>
					<br /> <br />
					<h4 class = "text-info">
						<b>Friday and Saturday holiday.</b>
					</h4>


					<br/>
					<br/>



				</div>
				<!-- End of col-md-5 class -->

			</div>
			<!-- End of row class -->
		</div>
		<!-- End of span4 class -->

	</div>
	<!-- End of row-fluid class -->




</div>
<!-- End of container class -->



