<html>

<head>


<link rel="stylesheet" href="resources/css/friends.css">


<style type="text/css">
.table {
	color: platinum;
}
</style>
</head>

<body>

	<div class="container">
		<!-- start of first div -->

		<div class="row">
			<!-- start of row class -->

			<h3 align="left">
				<b><i><span style="color: #FFA500"> List of Suggested
							Users :</span></i></b>
			</h3>


			<table class="table table-bordered">
				<!-- start of table class -->

				<br />

				<thead>

					<tr style="color: white">
						<!-- #5bc0de -->

						<!-- 	<th>Friend Id. </th>	-->

						<th>Profile Picture</th>

						<th>Username</th>

						<th>Name</th>

						<th>Online_Status</th>

						<th>Role</th>

						<th>Action</th>

					</tr>

				</thead>

				<tbody>


					<tr ng-repeat="user in suggestedUserList">
						<!-- user - local variable ; suggestedUserList : frontend - friendcontroller.js - $scope.suggestedUserList = ....  -->


						<td><img
							src="http://localhost:9090/StuforexBackend/getImage/{{user.username}}"
							height="100px" width="100px" class="img-circle"></td>

						<td>{{user.username}}</td>

						<td>{{user.firstname}}&nbsp;&nbsp;{{user.lastname}}</td>

						<!--  <td>{{user.online}}</td>	-->

						<td ng-if="user.online == true">Yes</td>
						<td ng-if="user.online == false">No</td>

						<td>{{user.role}}</td>

						<td><a class="btn btn-success"
							ng-click="friendRequest(user.username)">Connect</a></td>

					</tr>

				</tbody>

			</table>
			<!-- End of table class -->

			<br />


		</div>
		<!-- End of row class -->

	</div>
	<!-- end of first div -->

</body>

</html>