
<div class="container">
	<!-- start of first div -->

	<div class="row">
		<!-- start of row class -->

		<h3 align="left">
			<b><i><span style="color: #FFA500"> List of Pending
						Requests :</span></i></b>
		</h3>


		<table class="table table-bordered">
			<!-- start of table class -->

			<br />

			<thead>

				<tr>


					<th>Profile Picture</th>

					<th>From Username</th>

					<!-- 	
	<th>Online_Status </th>
	
	<th>Role</th>
-->

					<th>Action</th>

				</tr>

			</thead>

			<tbody>


				<tr ng-repeat="pendingRequest in pendingRequests">
					<!-- pendingRequest - local variable ; pendingRequests : frontend - friendcontroller.js - $scope.pendingRequests = ....  -->


					<td><img
						src="http://localhost:9090/StuforexBackend/getImage/{{pendingRequest.fromId}}"
						height="100px" width="100px"></td>

					<td><a href="#!/getUserDetails/{{pendingRequest.fromId}}">{{pendingRequest.fromId}}</a></td>

					<!--  <td>{{user.online}}</td>
   		
   		<td ng-if = "user.online == true">Yes</td>
   		<td ng-if = "user.online == false">No</td>
   		
   		<td>{{user.role}}</td>
-->

					<td>
						<!-- 
	    	two parameters : [friend object with status P , status to be upadated]
	    	ng-click = "updatePendingRequest({id,'fromId','toId','P'},'A') 
	    --> <a href="" ng-click="updatePendingRequest(pendingRequest,'A')"
						class="btn btn-success">Accept Request</a>&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="" ng-click="updatePendingRequest(pendingRequest,'D')"
						class="btn btn-danger">Reject Request</a>&nbsp;&nbsp;&nbsp;&nbsp;

						<!-- 
	 	    <a href = "" ng-click = "updatePendingRequest(pendingRequest)" class = "btn btn-success" value = "pendingRequest.status = 'A'">Accept Request</a>&nbsp;&nbsp;&nbsp;&nbsp;
	    	<a href = "" ng-click = "updatePendingRequest(pendingRequest)" class = "btn btn-danger" value = "pendingRequest.status = 'D'">Deny Request</a>&nbsp;&nbsp;&nbsp;&nbsp;
	    -->

					</td>

				</tr>

			</tbody>

		</table>
		<!-- End of table class -->

		<br />


	</div>
	<!-- End of row class -->

</div>
<!-- end of first div -->

<!--  ng-click = "updatePendingRequest(pendingRequest)" value = "pendingRequest.status = 'A'" -->