<html>

<head>

<link href="resources/css/pendingRequest.css" rel="stylesheet">

</head>
<body>
	<div class="container">
		<!-- start of first div -->

		<div class="row">
			<!-- start of row class -->

			<h3 align="left">
				<b><i><span style="color: #FFA500"> List of Pending
							Requests :</span></i></b>
			</h3>

			<br /> <br />

			<div class="col-lg-6" ng-repeat="pendingRequest in pendingRequests">
				<!-- pendingRequest - local variable ; pendingRequests : frontend - friendcontroller.js - $scope.pendingRequests = ....  

-->


				<div class="panel">
					<!-- start of panel class -->

					<div class="panel-body">
						<!-- start of panel-body class -->

						<!-- <div class = "col-md-7"><!-- start of col-md-7 class -->

						<div class="col-md-5">
							<br /> <img class="img img-responsive"
								src="http://localhost:9090/StuforexBackend/getImage/{{pendingRequest.fromId}}"
								alt="image not available" width="100px" height="100px">

						</div>
						<!-- end of col-md-7 class -->




						<div class="col-md-7">
							<!-- start of col-md-5 class -->

							<h4>
								<p>
									username &nbsp; : &nbsp;&nbsp;<a
										href="#!/getUserDetails/{{pendingRequest.fromId}}">{{pendingRequest.fromId}}</a>
								</p>
							</h4>

							<!-- 
	    	two parameters : [friend object with status P , status to be upadated]
	    	ng-click = "updatePendingRequest({id,'fromId','toId','P'},'A') 
-->
							<br /> <br /> <a href=""
								ng-click="updatePendingRequest(pendingRequest,'A')"
								class="btn btn-success">Accept Request</a>&nbsp;&nbsp;&nbsp;&nbsp;

							<br /> <br /> <a href=""
								ng-click="updatePendingRequest(pendingRequest,'D')"
								class="btn btn-danger">Reject Request</a>&nbsp;&nbsp;&nbsp;&nbsp;

							<br /> <br />
							<!-- 
	 	    <a href = "" ng-click = "updatePendingRequest

(pendingRequest)" class = "btn btn-success" value = "pendingRequest.status = 

'A'">Accept Request</a>&nbsp;&nbsp;&nbsp;&nbsp;
	    	<a href = "" ng-click = "updatePendingRequest(pendingRequest)" 

class = "btn btn-danger" value = "pendingRequest.status = 'D'">Deny 

Request</a>&nbsp;&nbsp;&nbsp;&nbsp;
	    -->


						</div>
						<!--  end of col-md-5 -->
					</div>
					<!-- End of row class -->

				</div>
				<!-- end of first div -->

				<!--  ng-click = "updatePendingRequest(pendingRequest)" value = "pendingRequest.status = 'A'" -->
			</div>
		</div>
	</div>

</body>
</html>