<!DOCTYPE html>
<html>

<head>

<meta charset="ISO-8859-1">

<link rel = "stylesheet"  href = "resources/css/welcome.css" />

</head>
<body>


<!-- <a class = "text-success"><h2 align = "left"><b>Welcome to Stuforex : </b></h2></a>	-->

<!-- <a class = "text-info"><h3>A collaboration platform for all kind of meetups ... ! </h3></a>	-->

<h2 align = "left" class = "text-success"><b>Welcome to Stuforex : </b></h2>

<h3 class = "text-info">A collaboration platform for all kind of meetups ... ! </h3>

<br/>
<br/>

<h4><p>To enjoy features : </p></h4>

<h4><p> Please <b><u><a href = "#!/login"> login </a></u></b> if already registered .</p></h4>

<h4><p>New users , please <b><u><a href = "#!/register"> create an account (register) </a></u></b> to continue .</p></h4>


</body>
</html>